/* line 9, ../scss/style.scss */
body {
  background-color: #121212;
  height: 100%;
}

/* line 10, ../scss/style.scss */
.wrapper {
  max-width: 780px;
  background-color: #121212;
  min-height: 100%;
}

/* line 18, ../scss/style.scss */
.title {
  color: #fff;
  font-weight: bold;
}

/* line 23, ../scss/style.scss */
.steps-holder {
  margin-bottom: 70px;
}
/* line 25, ../scss/style.scss */
.steps-holder div {
  width: 49%;
    background-color: #121212;
    border:2px solid #F93;
    color: #F93;
  padding: 10px 0px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out;
  -webkit-transition-delay: 0s;
  transition: all 0.5s ease-out 0s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 39, ../scss/style.scss */
.steps-holder div.active {
  background-color: #FF9933;
  color: #fff;
}

/* line 49, ../scss/style.scss */
.form-holder .converter-form textarea {
  width: 100%;
}
/* line 50, ../scss/style.scss */
.form-holder .converter-form button {
  width: 100%;
}

/* line 54, ../scss/style.scss */
.progress {
  width: 100%;
}

/* line 58, ../scss/style.scss */
#download {
  width: 100%;
  margin-top: 10px;
}

/* line 63, ../scss/style.scss */
#convert {
  margin-top: 10px;
}

/* line 67, ../scss/style.scss */
#newsearch {
  margin-top: 10px;
}

/* line 71, ../scss/style.scss */
label {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

/* line 77, ../scss/style.scss */
.panel {
  background: none repeat scroll 0 0 #444;
  padding: 10px 0px;
  margin-bottom: 15px;
}

/* line 82, ../scss/style.scss */
.options-wrapper {
  margin-top: 20px;
}
/* line 84, ../scss/style.scss */
.options-wrapper .option-holder {
  width: 100%;
  display: table;
}
/* line 88, ../scss/style.scss */
.options-wrapper .option-holder .option {
  margin-left: 10px;
}
/* line 92, ../scss/style.scss */
.options-wrapper .option-holder .sub-level {
  margin-left: 40px;
  margin-top: -10px;
}
